body{
	margin: 0px;
	padding: 0px;
}

header{
	margin-top: -1%;
	height: 25px;
	background: black;
}

header ul {
	list-style-type: none;
}

header ul li{
	float: left;
}

header ul li a {
	text-decoration: none;
	font-size: 100%;
	font-weight: bold;
	position: relative;
	left: 20%;
	top: 10px;
	background: black;
	color: white;
	padding: 2px;
	transition: .5s;
}


.sec-1{
	height: 800px;
	background: lightblue ;
	color:black;
}



footer{
	background: black;
	height: 75px;
	color: white;
	position: relative;
}