body{
	margin: 0;
	padding: 0;
}

}

header{
	margin-top: -1%;
	height: 75px;
	background: lightblue;
}

header ul {
	list-style-type:none;
}

header ul li{
	float: left;
}

header ul li a {
	text-decoration: none;
	font-size: 100%;
	font-weight: bold;
	position: all;
	left: 40%;
	top: 20px;
	background: white;
	color: grey;
	padding: 5px;
	transition: .5s;
}

header a:hover{
	background: black;
	color: white;
	padding: 5px;
	transition: .5s;
}

.sec-1{
	height: 700px;
	background: lightblue;
	color:black;
}



